In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import pickle

In [2]:
df = pd.read_csv("dataset/pmks_dataset1.csv")

In [3]:
df.head()

,nama,alamat,jenis_pmks,hubungan_dlm_keluarga,jml_tanggungan_kepala_keluarga,pendapatan_keluarga,status_rumah,pekerjaan,layak_tidak
0,Qinthara Maharani A,Jl. Merkuri Utara XII No 11A RT 03 RW 03,Anak Dalam Kedistabilitasan,Anak,K2,Baik,Milik Sendiri,Pelajar,Tidak
1,Ricko Putra Pratama,Jl. Merkuri Utara XII No 11A RT 03 RW 03,Anak Dalam Kedistabilitasan,Anak,K2,Sangat Baik,Milik Sendiri,Pelajar,Tidak
2,Muhammad Abel,Jl. Merkuri Utara XII No 11A RT 03 RW 03,Anak Dalam Kedistabilitasan,Anak,K1,Sangat Baik,Milik Sendiri,Pelajar,Tidak
3,Haliza Nur Azizah,Jl. Merkuri Utara XII No 11A RT 03 RW 03,Anak Dalam Kedistabilitasan,Anak,K3,Baik,Milik Sendiri,Pelajar,Tidak
4,Radtya Fajar,Jl. Merkuri Utara XII No 11A RT 03 RW 03,Anak Dalam Kedistabilitasan,Anak,K2,Cukup,Kontrakan,Pelajar,Layak

In [4]:
df.drop('nama', axis=1, inplace=True)
df.drop('alamat', axis=1, inplace=True)

In [5]:
df.head()

,jenis_pmks,hubungan_dlm_keluarga,jml_tanggungan_kepala_keluarga,pendapatan_keluarga,status_rumah,pekerjaan,layak_tidak
0,Anak Dalam Kedistabilitasan,Anak,K2,Baik,Milik Sendiri,Pelajar,Tidak
1,Anak Dalam Kedistabilitasan,Anak,K2,Sangat Baik,Milik Sendiri,Pelajar,Tidak
2,Anak Dalam Kedistabilitasan,Anak,K1,Sangat Baik,Milik Sendiri,Pelajar,Tidak
3,Anak Dalam Kedistabilitasan,Anak,K3,Baik,Milik Sendiri,Pelajar,Tidak
4,Anak Dalam Kedistabilitasan,Anak,K2,Cukup,Kontrakan,Pelajar,Layak

In [6]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['jenis_pmks'] = label_encoder.fit_transform(df['jenis_pmks'])
df['hubungan_dlm_keluarga'] = label_encoder.fit_transform(df['hubungan_dlm_keluarga'])
df['jml_tanggungan_kepala_keluarga'] = label_encoder.fit_transform(df['jml_tanggungan_kepala_keluarga'])
df['pendapatan_keluarga'] = label_encoder.fit_transform(df['pendapatan_keluarga'])
df['status_rumah'] = label_encoder.fit_transform(df['status_rumah'])
df['pekerjaan'] = label_encoder.fit_transform(df['pekerjaan'])

In [7]:
df

,jenis_pmks,hubungan_dlm_keluarga,jml_tanggungan_kepala_keluarga,pendapatan_keluarga,status_rumah,pekerjaan,layak_tidak
0,0,0,2,0,1,4,Tidak
1,0,0,2,3,1,4,Tidak
2,0,0,1,3,1,4,Tidak
3,0,0,3,0,1,4,Tidak
4,0,0,2,1,0,4,Layak
...,...,...,...,...,...,...,...
481,11,2,3,2,0,8,Layak
482,10,2,1,2,0,3,Layak
483,2,2,2,2,0,8,Layak
484,2,2,1,1,0,8,Layak
485,2,2,3,1,0,1,Layak

In [8]:
X = df.drop("layak_tidak", axis=1)
y = df["layak_tidak"]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [10]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
from sklearn.naive_bayes import GaussianNB
nbc = GaussianNB()
nbc.fit(X_train, y_train)

GaussianNB()

In [12]:
pickle.dump(nbc, open("model.pkl", "wb"))